:root {
  /* DIMENSIONS */
  --border-radius: 6px;
  --1v: 4px;
  --1w: calc(2 * var(--1v));
  --2w: calc(2 * var(--1w));
  --3w: calc(3 * var(--1w));
  --4w: calc(4 * var(--1w));
  --8w: calc(8 * var(--1w));
  --12w: calc(12 * var(--1w));

  /* BREAKING POINTS */
  @custom-media --xs-viewport (min-width: 36rem); /* 576px  */
  @custom-media --sm-viewport (min-width: 48rem); /* 768px  */
  @custom-media --md-viewport (min-width: 62rem); /* 992px  */
  @custom-media --lg-viewport (min-width: 78rem); /* 1248px */
  @custom-media --xl-viewport (min-width: 90rem); /* 1440px */
}
