:root {
  /* COLORS */
  --color-red-primary: #ff5655;
  --color-red-light: #ffeded;
  --color-blue-primary: #3917b3;
  --color-blue-light: #ececfe;
  --color-teal-primary: #60e0eb;
  --color-teal-light: #e5fbfd;

  /* DIMENSIONS */
  --1v: 4px;
  --1w: calc(2 * var(--1v));
  --2w: calc(2 * var(--1w));
  --3w: calc(3 * var(--1w));
  --4w: calc(4 * var(--1w));
  --5w: calc(5 * var(--1w));
  --6w: calc(6 * var(--1w));
  --7w: calc(7 * var(--1w));
  --8w: calc(8 * var(--1w));
  --9w: calc(9 * var(--1w));
  --10w: calc(10 * var(--1w));
  --12w: calc(12 * var(--1w));
  --15w: calc(15 * var(--1w));
  --19w: calc(19 * var(--1w));
  --26w: calc(26 * var(--1w));
  --30w: calc(30 * var(--1w));

  --border-radius-xs: var(--1v);
  --border-radius-sm: var(--1w);
  --border-radius-md: calc(var(--1w) + var(--1v));
  --border-radius-lg: var(--2w);

  --path-thickness: 4px;

  /* BREAKING POINTS */
  @custom-media --xxs-viewport (min-width: 28rem); /* 448px  */
  @custom-media --xs-viewport (min-width: 36rem); /* 576px  */
  @custom-media --sm-viewport (min-width: 48rem); /* 768px  */
  @custom-media --md-viewport (min-width: 62rem); /* 992px  */
  @custom-media --lg-viewport (min-width: 78rem); /* 1248px */
  @custom-media --xl-viewport (min-width: 90rem); /* 1440px */

  /* CLIP PATHES */
  --clip-path-home-title: polygon(
    97.217% 0%,
    2.783% 0%,
    2.783% 0%,
    2.332% 0.084%,
    1.903% 0.325%,
    1.504% 0.712%,
    1.139% 1.232%,
    0.815% 1.87%,
    0.537% 2.613%,
    0.311% 3.45%,
    0.142% 4.365%,
    0.036% 5.348%,
    0% 6.383%,
    0% 100%,
    26.716% 100%,
    80.334% 100%,
    80.334% 100%,
    80.785% 99.974%,
    81.214% 99.778%,
    81.613% 99.427%,
    81.977% 98.935%,
    82.302% 98.317%,
    82.58% 97.586%,
    82.806% 96.757%,
    82.975% 95.846%,
    83.08% 94.865%,
    83.117% 93.83%,
    83.117% 70.426%,
    83.117% 70.426%,
    83.153% 69.39%,
    83.259% 68.408%,
    83.428% 67.492%,
    83.654% 66.656%,
    83.932% 65.912%,
    84.256% 65.274%,
    84.621% 64.755%,
    85.02% 64.368%,
    85.448% 64.126%,
    85.9% 64.043%,
    91.929% 64.043%,
    91.929% 64.043%,
    92.381% 63.959%,
    92.809% 63.717%,
    93.208% 63.33%,
    93.573% 62.811%,
    93.897% 62.173%,
    94.175% 61.429%,
    94.402% 60.593%,
    94.571% 59.677%,
    94.676% 58.695%,
    94.712% 57.66%,
    94.712% 38.404%,
    94.712% 38.404%,
    94.747% 37.421%,
    94.847% 36.488%,
    95.008% 35.618%,
    95.223% 34.823%,
    95.487% 34.116%,
    95.795% 33.51%,
    96.141% 33.017%,
    96.521% 32.65%,
    96.927% 32.42%,
    97.356% 32.34%,
    97.356% 32.34%,
    97.785% 32.261%,
    98.192% 32.031%,
    98.571% 31.664%,
    98.918% 31.17%,
    99.226% 30.564%,
    99.49% 29.858%,
    99.705% 29.063%,
    99.865% 28.193%,
    99.965% 27.26%,
    100% 26.277%,
    100% 6.383%,
    100% 6.383%,
    99.964% 5.348%,
    99.858% 4.365%,
    99.689% 3.45%,
    99.463% 2.613%,
    99.185% 1.87%,
    98.861% 1.232%,
    98.496% 0.712%,
    98.097% 0.325%,
    97.668% 0.084%,
    97.217% 0%
  );
}
