version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: daily
    cooldown:
      default-days: 7
    open-pull-requests-limit: 5

  - package-ecosystem: "npm"
    directory: "/apps/backend"
    schedule:
      interval: daily
    cooldown:
      default-days: 7
    open-pull-requests-limit: 5

  - package-ecosystem: "npm"
    directory: "/apps/frontend"
    schedule:
      interval: daily
    cooldown:
      default-days: 7
    open-pull-requests-limit: 5
