node_modules

# Output
.output
build
dist

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# GLOBAL
.DS_Store
.env
.env.*
!.env.example
node_modules
.tool-versions

# apps/frontend
/apps/frontend/build
/apps/frontend/.svelte-kit
/apps/frontend/test-results/
/apps/frontend/e2e/**/.setup/
/apps/frontend/.lighthouseci/

# apps/backend
apps/backend/coverage
apps/backend/.nyc_output
apps/backend/src/assets/styles/output.css

# Logs
logs
*.log
npm-debug.log*
.talismanrc


# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

