node_modules

# Output
.output
*/.output
/build
*/build
/dist
*/dist

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# GLOBAL
.DS_Store
.env
.env.*
!.env.example
node_modules
.tool-versions

# client
/client/build
/client/.svelte-kit
/client/test-results/
/client/e2e/**/.setup/
/client/.lighthouseci/

# apps/backend
apps/backend/coverage
apps/backend/.nyc_output

# Logs
logs
*.log
npm-debug.log*
.talismanrc


# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

