<button data-modal-target="add-ofs-modal" data-modal-toggle="add-ofs-modal"
  class="inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 cursor-pointer">
  <span class="mr-2">{{> icons/plus}}</span>
  Ajouter un OFS
</button>
