<div class="p-4 mb-4 text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
  <div class="flex">
    <div class="mt-0.5">
      {{> icons/close_circle width="20" height="20" lightColor="red-500" darkColor="red-300"}}
    </div>
    <div class="ml-3">
      <span class="font-bold">{{or title "Erreur"}}</span>
      <p class="mt-2">{{or content "Une erreur est survenue."}}</p>
    </div>
  </div>
</div>
