<div class="p-4 rounded-lg text-red-700 bg-red-100 dark:bg-red-200 border border-red-700" role="alert">
  <div class="flex">
    <div class="mt-0.5">
      {{> icons/close_circle }}
    </div>
    <div class="ml-3">
      <span class="font-bold">{{or title translations.error.defaultLabel}}</span>
      <p class="mt-2">{{or content translations.error.defaultContent}}</p>
    </div>
  </div>
</div>
