@import url('./_vars.css');
@import url('./_icons.css');
@import url('./map.css');

@import url('./utilities/_colors.css');
@import url('./utilities/_dimensions.css');
@import url('./utilities/_display.css');
@import url('./utilities/_flex.css');
@import url('./utilities/_position.css');
@import url('./utilities/_shapes.css');
@import url('./utilities/_typography.css');

.scroll-behavior-smooth {
  scroll-behavior: smooth;
}

.rounded-box-md {
  border-top-left-radius: var(--border-radius-md);
  border-top-right-radius: var(--border-radius-md);
}

.rounded-box-lg {
  border-top-left-radius: var(--border-radius-lg);
  border-top-right-radius: var(--border-radius-lg);
}

.fade-in {
  visibility: hidden;
  opacity: 0;
  animation:
    visibilityIn 0s ease-in-out forwards,
    fadeIn 0.3s ease-in-out forwards 0.3s;
}

.leaflet-control [href] {
  background: #fff !important;
  background-image: none !important;
}

.separator {
  height: 1px;
  width: 100%;
  background-color: var(--border-default-grey);
  margin-block: 0.5rem;
}

.pdf-only {
  display: none;
}

.not-printable {
  display: inherit;
}

.page-break-before {
  page-break-before: always;
  break-before: page;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes visibilityIn {
  from {
    visibility: hidden;
  }

  to {
    visibility: visible;
  }
}

.disabled {
  color: var(--text-disabled-grey);
  cursor: not-allowed;
}
