@import url('./_vars.css');
@import url('./_icons.css');
@import url('./map.css');
@import url('./_utilities.css');

@import '@gouvfr/dsfr/dist/core/core.min.css';
@import '@gouvfr/dsfr/dist/utility/icons/icons.min.css';
@import 'tailwindcss';

@theme {
  --color-red-primary: #ff5655;
}

.scroll-behavior-smooth {
  scroll-behavior: smooth;
}

.background-gradient {
  background: linear-gradient(
    180deg,
    var(--color-teal-light) 0%,
    var(--color-red-light) 100%
  );
}

.rounded-box-md {
  border-top-left-radius: var(--border-radius-md);
  border-top-right-radius: var(--border-radius-md);
}

.rounded-box-lg {
  border-top-left-radius: var(--border-radius-lg);
  border-top-right-radius: var(--border-radius-lg);
}

.color-blue-primary {
  color: var(--color-blue-primary);
}

.background-color-white {
  background-color: white;
}

.fade-in {
  visibility: hidden;
  opacity: 0;
  animation:
    visibilityIn 0s ease-in-out forwards,
    fadeIn 0.3s ease-in-out forwards 0.3s;
}

.leaflet-control [href] {
  background: #fff !important;
  background-image: none !important;
}

.separator {
  height: 1px;
  width: 100%;
  background-color: var(--border-default-grey);
  margin-block: 0.5rem;
}

.pdf-only {
  display: none;
}

.not-printable {
  display: inherit;
}

.page-break-before {
  page-break-before: always;
  break-before: page;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes visibilityIn {
  from {
    visibility: hidden;
  }

  to {
    visibility: visible;
  }
}

.disabled {
  color: var(--text-disabled-grey);
  cursor: not-allowed;
}
