@import url('./_vars.css');
@import url('./_icons.css');
@import url('./map.css');

@import 'tailwindcss';

@theme {
  --color-blue-primary: #3917b3;
  --color-blue-light: #ececfe;
  --color-blue-active: var(--text-active-blue-france);

  --color-red-primary: #ff5655;
  --color-red-light: #ffeded;

  --color-teal-primary: #60e0eb;
  --color-teal-light: #e5fbfd;

  --color-gray-default: var(--text-default-grey);
  --color-gray-light: #dddddd;
  --color-default-gray-active: var(--background-default-grey-active);

  --breakpoint-xs: 28rem;
  --breakpoint-sm: 36rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 62rem;
  --breakpoint-xl: 78rem;

  --path-thickness: 4px;
}

.scroll-behavior-smooth {
  scroll-behavior: smooth;
}

.background-gradient {
  background: linear-gradient(
    180deg,
    var(--color-teal-light) 0%,
    var(--color-red-light) 100%
  );
}

.rounded-box-md {
  border-top-left-radius: var(--border-radius-md);
  border-top-right-radius: var(--border-radius-md);
}

.rounded-box-lg {
  border-top-left-radius: var(--border-radius-lg);
  border-top-right-radius: var(--border-radius-lg);
}

.fade-in {
  visibility: hidden;
  opacity: 0;
  animation:
    visibilityIn 0s ease-in-out forwards,
    fadeIn 0.3s ease-in-out forwards 0.3s;
}

.leaflet-control [href] {
  background: #fff !important;
  background-image: none !important;
}

.separator {
  height: 1px;
  width: 100%;
  background-color: var(--border-default-grey);
  margin-block: 0.5rem;
}

.pdf-only {
  display: none;
}

.not-printable {
  display: inherit;
}

.page-break-before {
  page-break-before: always;
  break-before: page;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes visibilityIn {
  from {
    visibility: hidden;
  }

  to {
    visibility: visible;
  }
}

.disabled {
  color: var(--text-disabled-grey);
  cursor: not-allowed;
}
