BACKEND_API_URL= # Example: http://localhost:3000
OFS_PORTAL_URL= # Example: http://localhost:4173
SESSION_COOKIE_NAME= # Example: boris.sid
SESSION_COOKIE_DOMAIN= # Example: .boris.beta.gouv.fr
SUPPORT_EMAIL= # Example: support@example.fr
PUBLIC_SITE_URL= # Example: https://www.boris.beta.gouv.fr
