<!DOCTYPE html>
<html lang="fr">

<head>
  {{> head title="Boris"}}
</head>

<body>
  <div class="flex">
    {{> menu}}

    <main class="mx-auto p-16 flex-1 bg-gray-50 overflow-hidden">
      {{{body}}}
    </main>
  </div>

  {{> scripts}}
</body>

</html>
