<nav class="menu min-w-64 h-full sticky top-0 h-screen p-8 border-r border-gray-200 shadow-xl">
  <div class="h-full flex flex-col">
    <div class="flex gap-8 justify-center border-b border-gray-200 pb-8">
      {{> logo}}
    </div>

    <div class="py-8 flex-1">
      <p class="text-xs font-semibold text-gray-400 uppercase tracking-wider p-2">Menu</p>

      <div class="flex flex-col gap-4">
        <a href="/ofs" class="flex items-center p-2 font-[500] rounded-lg hover:bg-gray-100">OFS</a>
      </div>
    </div>

    <div class="pt-8 border-t border-gray-200">
      <form action="/auth/logout" method="POST" class="w-full">
        <button type="submit"
          class="w-full flex items-center gap-2 p-2 text-gray-500 hover:text-gray-700 hover:bg-gray-100 rounded-lg transition-colors">
          {{> icons/logout}}
          Déconnexion
        </button>
      </form>
    </div>
  </div>
</nav>
