.inline-block {
  display: inline-block;
}

.flex {
  display: flex !important;
}

.none {
  display: none;
}

.block {
  display: block;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-visible {
  overflow: visible;
}

.overflow-y-auto {
  overflow-y: auto;
}

/* --xxs */
@media (min-width: 28rem) {
  .xxs_block {
    display: block;
  }

  .xxs_none {
    display: none;
  }

  .xxs_flex {
    display: flex;
  }
}

/* --sm */
@media (min-width: 48rem) {
  .sm_block {
    display: block;
  }

  .sm_flex {
    display: flex;
  }

  .sm_none {
    display: none;
  }
}

@media (min-width: 62rem) {
  .md_visible {
    visibility: visible;
  }

  .md_flex {
    display: flex;
  }

  .md_block {
    display: block;
  }

  .md_none {
    display: none;
  }
}

/* --lg */
@media (min-width: 78rem) {
  .lg_none {
    display: none;
  }

  .lg_block {
    display: block;
  }

  .lg_flex {
    display: flex;
  }
}
