/* DIRECTIONS */
.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column !important;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

/* --sm */
@media (min-width: 48rem) {
  .sm_flex-row {
    flex-direction: row;
  }
}

/* --md */
@media (min-width: 62rem) {
  .md_flex-row {
    flex-direction: row;
  }
}

/* FLEX */
.flex-1 {
  flex: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

/* ALIGNMENT */
.justify-start {
  justify-content: flex-start;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.align-center {
  align-items: center;
}

.align-start {
  align-items: flex-start !important;
}

.align-end {
  align-items: flex-end !important;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-center {
  align-self: center;
}

@media (min-width: 48rem) {
  .sm_justify-between {
    justify-content: space-between;
  }

  .sm_align-stretch {
    align-items: stretch;
  }
}

/* GAPS */
.gap-1v {
  gap: 0.25rem;
}

.gap-1w {
  gap: 0.5rem;
}

.gap-2w {
  gap: 1rem;
}

.gap-3w {
  gap: 1.5rem;
}

.gap-4w {
  gap: 2rem;
}

.gap-8w {
  gap: 4rem;
}

/* --md */
@media (min-width: 62rem) {
  .md_gap-0 {
    gap: 0;
  }

  .md_gap-6w {
    gap: 3rem;
  }
}
