.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.font-size-2 {
  font-size: 2rem;
}

.underline {
  text-decoration: underline;
}

.list-style-none {
  list-style: none;
}
